/*

FONTS 
---------------------------------------------
font-family: "St Ryde Light";
font-family: "St Ryde Light Italic";
font-family: "St Ryde Medium";
font-family: "St Ryde Medium Italic";
font-family: "St Ryde Bold";
font-family: "St Ryde Bold Italic";

COLORS
---------------------------------------------
gray: #566271
    dark gray: #3E4854
    darker gray: #242C36
orange: #F26A21
green: #C6D930
blue: #A8DCD9
red: #C44D58

*/

/* GLOBAL ====================================================== GLOBAL */

.page {
    font-family: 'St Ryde W03 Medium';
    padding: 0; 
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #A8DCD9;
    flex-grow: 1;
    width: 100vw;
    flex-direction: column;
    }

.vertical-center {
    margin:auto;
    padding: 2rem 0 4rem 0;
}

.vertical-center img {
    margin-top: 0;
}

.div-grow {
    flex-grow: 1;
}

.jumbotron img {
    height: 18vw;
    margin-bottom: 4px;
}

.btn:hover {
    background-color: #3E4854 !important;   
}


/* single-project page */

.single-project-component {
    padding: 5vh 0;
    max-width: 90%;
}

.single-project-section {
    background-color: #fff;
    max-width: 100%;
}

.gallery-section {
    background-color: #A8DCD9;
    max-width: 100%;
}

.single-project-image {
    max-width: 50%;
    margin: 2rem;
}

.single-comment {
    padding-top: 1em;
    border-bottom: 1px solid #C6D930;
}

.comment-text {
    font-family: "St Ryde Light";
    font-size: 1.2rem;
    line-height: 1.15;
}

div.comment-date {
    text-align: right;
    margin-bottom: 1rem;
}

.comment-poster,
.comment-poster a {
    font-family: "St Ryde Bold";
    margin-bottom: .5rem;
    color: #F26A21 !important;
    font-size: 1.1rem;
}

.delete-comment {
    color: #C44D58;
    size: 1.25rem;
}

